{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon</h1>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <form action="" method="get">
        <input type="text" name="name" placeholder="Nombre del pokemon">
        <button type="submit">Buscar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.numPokemon }}</td>
                <td>{{ pokemon.name }}</td>
                <td>
                    {% for type in pokemon.type %}
                        {{ type.name }} 
                    {% endfor %}
                </td>
                <td>
                    <img src="{{ asset('uploads/' ~ pokemon.img) }}" width="40" alt="{{ pokemon.name }}">
                </td>

                <td>
                    <a href="{{ path('app_pokemon_show', {'id': pokemon.id}) }}">show</a>
                    <a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                    {% if app.user %}
                        {% if not app.user.hasPokemon(pokemon) %}
                        <a href="{{ path('app_pokemon_catch', {'id': pokemon.id}) }}">Capturar</a>
                        {% else %}
                        <a href="{{ path('app_pokemon_kill', {'id': pokemon.id}) }}">Liberar</a>
                        <a href="{{ path('app_pokemon_train', {'id': pokemon.id}) }}">Entrenar</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pokemon_new') }}">Create new</a>
{% endblock %}
