{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>NumPokemon</th>
                <td>{{ pokemon.numPokemon }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pokemon.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>
                    {% for type in pokemon.type %}
                        {{ type.name }} 
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <img src="{{ asset('uploads/' ~ pokemon.img) }}" width="200" alt="{{ pokemon.name }}">
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pokemon_index') }}">back to list</a>

    <a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
